{% extends 'base.html.twig' %}
{% import '_category_breadcrumb.html.twig' as breadcrumb %}

{% block title %}New post{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ breadcrumb.categoryBreadcrumb(category) }}
    <li class="breadcrumb-item active">New post</li>
{% endblock %}

{% block body %}
    <h1>Create new post</h1>

    {{ include('thread/_form.html.twig') }}
{% endblock %}
