{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Registration</li>
{% endblock %}

{% block body %}
    <h1>Registration</h1>

    {{ include('registration/_form.html.twig') }}
{% endblock %}
