{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">Administration</li>
    <li class="breadcrumb-item"><a href="{{ path('category_admin_index') }}">Category</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('category_admin/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
