{% macro categoryBreadcrumb(category) %}
    {% import _self as breadcrumb %}

    {% if category.parent is not null and category.parent.isSubCategory %}
        {{ breadcrumb.categoryBreadcrumb(category.parent) }}
        <li class="breadcrumb-item"><a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.title }}</a></li>
    {% endif %}
{% endmacro %}
