<div class="card mb-3">
    <div class="card-header">
        {{ category.title }}
    </div>
    <ul class="list-group list-group-flush">
        {% for post in 1..10 %}
            <li class="list-group-item">Post {{ post }}</li>
        {% endfor %}
    </ul>
</div>
