{% extends 'base.html.twig' %}

{% block title %}{{ category.title }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% if false == category.hasChildren %}
                {{ include('category/_posts_list.html.twig') }}
            {% else %}
                {{ include('category/_categories_list.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
