{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">Administration</li>
    <li class="breadcrumb-item"><a href="{{ path('user_admin_index') }}">User</a></li>
    <li class="breadcrumb-item active">Edit user</li>
{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user_admin/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
