{% set activationLink = url('user_reset_password', { 'confirmationToken': user.confirmationToken }) %}

<p>
    Dear {{ user.email }},<br>
</p>
<p>
    Click the link bellow to reset your password.
</p>
<p>
    {{ activationLink }}
</p>
<p>
    Best regards,
    The forum team
</p>
